{% extends 'dashboard/base.html' %}

{% block title %}Home - Tsonevski Terminal{% endblock %}

{% block content %}
<div class="content-container"></div>
    {% if user.is_authenticated %}
        <h1>Welcome to {{ username }}'s Terminal</h1>
        <p>{{ description }}</p>
    {% else %}
        <h1>{{ welcome_message }}</h1>
        <p>
             To access the terminal's features, please 
            <a href="{% url 'login' %}">log in</a> or 
            <a href="{% url 'register' %}">register</a> for an account.
        </p>
    {% endif %}
</div>
{% endblock %}
